@import url(Contenedor.css);
@import url(ejercicio.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Cuadrado_Mayor {
  max-width: 1200px;
  display: flex;
  background-color: hsl(6, 49%, 65%);
  height: 100vh;
  margin: 0 auto;
  border: solid 10px rgb(0, 0, 0);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.Cuadrado_item {
  display: flex;
  background-color: gainsboro;
  height: 200px;
  width: 200px;
  
  text-align: center;
  border: solid 1px rgb(138, 138, 138);
  color: black;
  align-content: center;
  align-content: flex-end;
  align-content: space-between;
  align-content: space-evenly;
}

.Cuadrado_Mayor .Cuadrado_item:nth-child(1){
  background-color: #6200ff;
  order: -1;
}

@media (max-width:800px) {
  .Cuadrado_Mayor{
    background-color: #c99d9d;
  }
  
}

.Cuadrado_Mayor .Cuadrado_item:nth-child(2){
  background-color: #6200ff;
  order: -1;
}

.contenedor {
  max-width: 1000px;
  display: flex;
}



/* .classCuadrado0 {
  background-color: aqua;
  height: 200px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
} */

/* .Cuadrado_item2 {
  display: flex;
  background-color: gainsboro;
  height: 200px;
  width: 200px;
  
  text-align: center;
  border: solid 1px rgb(138, 138, 138);
  color: black;
  align-content: center;
  align-content: flex-end;
  align-content: space-between;
  align-content: space-evenly;
} */

/* .Cuadrado_item3 {
  background-color: gainsboro;
  height: 200px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  border: solid 1px rgb(138, 138, 138);
  color: black;
  align-content: center;
} */
